In [1]:
from pyspark.sql import SparkSession

In [3]:
from pyspark.sql.types import StructType, StructField ,StringType,IntegerType

In [4]:
spark = SparkSession.builder.appName ("Create DF").getOrCreate()

In [7]:
schema = StructType(
    [StructField("name",StringType(),True),
    StructField("Age",IntegerType(),True),
    StructField("City",StringType(),True) ]
)

In [8]:
data = [
    ("sonam",20,"punjab"),
     ("sonam1",20,"punjab"),
     ("sonam2",20,"punjab"),
     ("sonam3",20,"punjab"),
     ("sonam4",20,"punjab"),
]

In [9]:
df = spark.createDataFrame(data,schema)

In [10]:
df.show()

+------+---+------+
|  name|Age|  City|
+------+---+------+
| sonam| 20|punjab|
|sonam1| 20|punjab|
|sonam2| 20|punjab|
|sonam3| 20|punjab|
|sonam4| 20|punjab|
+------+---+------+

In [12]:
df.head(2)

[Row(name='sonam', Age=20, City='punjab'),
 Row(name='sonam1', Age=20, City='punjab')]

In [13]:
df.tail(3)

[Row(name='sonam2', Age=20, City='punjab'),
 Row(name='sonam3', Age=20, City='punjab'),
 Row(name='sonam4', Age=20, City='punjab')]

In [16]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- City: string (nullable = true)

In [17]:
data2 = [
    {"Name":"sonam","Age":20,"City":"punjab"},
     {"Name":"sonam1","Age":20,"City":"punjab"},
     {"Name":"sonam2","Age":20,"City":"punjab"},
     {"Name":"sonam3","Age":20,"City":"punjab"},
     {"Name":"sonam4","Age":20,"City":"punjab"},
]

In [18]:
df2= spark.createDataFrame(data=data2)

In [19]:
df2.show()

+---+------+------+
|Age|  City|  Name|
+---+------+------+
| 20|punjab| sonam|
| 20|punjab|sonam1|
| 20|punjab|sonam2|
| 20|punjab|sonam3|
| 20|punjab|sonam4|
+---+------+------+

In [20]:
df2.printSchema()

root
 |-- Age: long (nullable = true)
 |-- City: string (nullable = true)
 |-- Name: string (nullable = true)