# Create a spark DataFrame

In [3]:
from pyspark.sql.session import SparkSession
s

In [8]:
from pyspark.sql.types import StructField,IntegerType,StringType,StructType

In [7]:
spark = SparkSession.builder.appName("Create Data Frame").getOrCreate()

In [9]:
schema = StructType([
        StructField("Name",StringType(),True),
        StructField("Age",IntegerType(),True),
        StructField("City",StringType(),True)
])

In [10]:
Data = [
    ("sonam",25,"Sitapur"),
    ("Moni",30,"Rampur"),
    ("shanu",35,"sherpur")
]

In [14]:
df = spark.createDataFrame(Data,schema)

In [15]:
df.show()

+-----+---+-------+
| Name|Age|   City|
+-----+---+-------+
|sonam| 25|Sitapur|
| Moni| 30| Rampur|
|shanu| 35|sherpur|
+-----+---+-------+

In [16]:
df.head(2)

[Row(Name='sonam', Age=25, City='Sitapur'),
 Row(Name='Moni', Age=30, City='Rampur')]

In [17]:
df.tail(2)

[Row(Name='Moni', Age=30, City='Rampur'),
 Row(Name='shanu', Age=35, City='sherpur')]

In [18]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- City: string (nullable = true)

In [19]:
data2 = [
    {"Name":"sonam","Age":20,"City":"punjab"},
     {"Name":"sonam1","Age":20,"City":"punjab"},
     {"Name":"sonam2","Age":20,"City":"punjab"},
     {"Name":"sonam3","Age":20,"City":"punjab"},
     {"Name":"sonam4","Age":20,"City":"punjab"},
]

In [20]:
print(data2)

[{'Name': 'sonam', 'Age': 20, 'City': 'punjab'}, {'Name': 'sonam1', 'Age': 20, 'City': 'punjab'}, {'Name': 'sonam2', 'Age': 20, 'City': 'punjab'}, {'Name': 'sonam3', 'Age': 20, 'City': 'punjab'}, {'Name': 'sonam4', 'Age': 20, 'City': 'punjab'}]

In [21]:
df2 = spark.createDataFrame(data2)

In [22]:
df2.show()

+---+------+------+
|Age|  City|  Name|
+---+------+------+
| 20|punjab| sonam|
| 20|punjab|sonam1|
| 20|punjab|sonam2|
| 20|punjab|sonam3|
| 20|punjab|sonam4|
+---+------+------+

# Read Single CSV File

In [57]:
import java.nio.file.Path;
import java.nio.file.Paths;

Pathpath = Paths.get("C:/Users/user/Downloads/s");

ModuleNotFoundError: No module named 'java'

In [51]:
csv_path = "C:/Users/user/Downloads/s"